
<div class="row justify-content-md-center">
  <div class="col-md-6 align-self-center">

    <h2>Create New Note</h2>

    <%= form_for @note do |f| %>
      <%#= render "users/shared/error_messages", resource: resource %>


      <% if flash[:alert].present? %>
        <% flash[:alert].each do |error| %>
          <div><%= error %></div>
        <% end %>
      <% end %>


      <div class="field form-group">
        <%= f.label :title %><br />
        <%= f.text_field :title, autofocus: true, class: "form-control", autocomplete: "name" %>
      </div>

      <div class="field form-group">
        <%= f.label :tags %><br />
        <select name="note_tagging[]" multiple="multiple" id="select2" style="width:100%"></select>
      </div>

      <div class="field form-group">
        <%= f.label :body %><br />
        <%= f.text_area :body, class: "form-control", id: "test", row: "500"%>
      </div>



      <div class="actions">
        <%= f.submit "Add Note" %>
      </div>
    <% end %>
  </div>
</div>
