<h2>Create New Note</h2>

<%= form_with model: @note do |f| %>
  <%#= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </div>

  <div class="actions">
    <%= f.submit "Add Note" %>
  </div>
<% end %>

