<!DOCTYPE html>
<html>
<head>
  <title>Journal : Home</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render partial: "application/nav" %>
  <div class="container-fluid">
    <%= yield %>
  </div>


  <script type="text/javascript" charset="utf-8">
      noticies = <%= raw json_escape(flash.to_h.to_json) %>;
      localStorage.setItem("notices", JSON.stringify(noticies));
  </script>



</body>
</html>
