<!DOCTYPE html>
<html>
<head>
  <title>Journal : Home</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render partial: "application/nav" %>
<div class="container-fluid">
  <%= yield %>
</div>
</body>
</html>
